<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Bernardo and Fran">
        <meta name="Description" content="This is a web forum about literature">
        <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no">
        <title>Literary Lions Web Forum</title>
        
        <link rel="icon" type="image/x-icon" href="/static/literary_lions_favicon.png">
        <link rel="stylesheet" href="/static/css/errors.css" type="text/css">

        <!-- Import Font from Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        
        <!-- Import Icons from Google Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    </head>
    <body>
        <div class="background-informative-message">
            <div class="informative-message">
                <img class= "img-logo" src="../static/img/logo/literary_lions_logo.png" alt="Logo literary lions club">
                <h4 class="text-title"> UPS! 404</h4>
                <h4 class="text-content"> Please, try again later.</h4>
                <h4 class="text-content"> Go back to</h4>
                <a href="/" class="home-link">
                    <h4 class="text"> Home </h4>
                </a>
            </div>
        </div>
    </body>
</html>