{{ define "filter" }}
    <section class="filter-section">
        <div class="category-filter-dropdown">
            <div class="category-filter-dropdown-box">
                Filter by Category:
            </div>
            
            <div class="category-filter-content">
                {{range .Categories}}
                    <a href="/filter?category={{.Id}}" class="category-option"> {{.Name}}</a>
                {{end}}
            </div>
            
        </div>
        
        <div class="other-filter-dropdown">
            <div class="other-filter-dropdown-box">
                Filter by:
            </div>
            
            <div class="other-filter-content">
                <a href="/filter?sort=likes" class="other-option">Likes (Descendent)</a>
                <a href="/filter?sort=dislikes" class="other-option">Dislikes (Descendent)</a>
            </div>
            
        </div>
    </section>
{{end}}
