{{define "header"}}
    <header class="header">
        <a href="/" class="logo">
            <img class= "img-logo" src="../static/img/literary_lions_logo.png" alt="Logo literary lions club">
        </a>

        <form class="search-bar" action="/search">
            <label for="search_bar"></label>
            <input type="search" name="search_bar" id="search_bar" class="search" placeholder="Search"></textarea>
        </form>

        {{if .LoggedIn}}
        <div class="icons-menu">
            <a href="/post/create" class="createPost-page-button page-button">
                <span class="material-symbols-rounded main-icons createPost-icon" style="font-size: 36px;" >post_add</span>
                <p class="text-icons">Create Post</p>
            </a>
            <div class="profile-dropdown">
                <button class="img-dropdown-button"></button>
                <div class="dropdown-content">
                    <a href="/profile" class="option"> Profile</a>
                    <a href="/liked" class="option"> Liked Posts</a>
                    <a href="/myposts" class="option">My Posts</a>
                    <a href="/logout" class="option">Log Out</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="standard-icons-menu">
            <a href="#registerModal" class="register-page-button standard-button">
                <p class="standard-text">Register</p>
            </a>
            <a href="#loginModal" class="login-page-button standard-button">
                <p class="standard-text">Log in</p>
            </a>
        </div>
        {{end}}
        
    </header>


    <div id="registerModal" class="modal">
        <div class="modal-content-register">
            <div class="title-modal-content">
                <a href="#" class="close-button">&times;</a>
                <h2 class="title-register">Register</h2>
            </div>
                       
            <form action="/register" method="post" class="form-modal-content-register">
                <label class="register-form-username-txt" for="username">Username:</label>
                <input class="register-form-username" type="text" id="username" name="username" required>
                
                <label class="register-form-email-txt" for="email">Email:</label>
                <input class="register-form-email" type="email" id="email" name="email" required>
                
                <label class="register-form-password-txt" for="password">Password:</label>
                <input class="register-form-password" type="password" id="password" name="password" required>
                <div class="submit-button">
                    <input type="submit" value="Register" class="register-form-button">
                </div>
                
            </form>

            <hr class="separator-bar">

            <div class="subtext-registerModal">
                <h3 class="subtext-register">Do you have an account?</h3>
                <a href="#loginModal" class="register-button">Log in</a>
            </div>
        </div>
    </div>

    <div id="loginModal" class= "modal">
        <div class="modal-content-login">
            <div class="title-modal-content">
                <a href="#" class="close-button">&times;</a>
                <h2 class="title-login">Log in</h2>
            </div>
            
            <form action="/login" method="post" class="form-modal-content-login">
                <label class="register-form-email-txt" for="email">Email:</label>
                <input class="register-form-email" type="email" id="email" name="email" required>
                
                <label class="register-form-password-txt" for="password">Password:</label>
                <input class="register-form-password" type="password" id="password" name="password" required>
                <div class="submit-button">
                    <input type="submit" value="Log in" class="register-form-button">
                </div>
                
            </form>

            <hr class="separator-bar">

            <div class="subtext-registerModal">
                <h3 class="subtext-register">You don't have an account?</h3>
                <a href="#registerModal" class="register-button">Register</a>
            </div>
            
        </div>
    </div>

    {{if .Metadata.Success}}
    <div class="background-informative-message">
        <div class="informative-message">
            <h4 class="success-text"> INFORMATIVE MESSAGE!</h4>
                <h4 class="success-text" style="color:green;">{{.Metadata.Success}}</h4>
        </div>
    </div>
    {{else if .Metadata.Error}}
    <div class="background-informative-message">
        <div class="informative-message">
            <h4 class="success-text"> INFORMATIVE MESSAGE!</h4>
                <h4 class="error-text" style="color:red;">{{.Metadata.Error}}</h4>
        </div>
    </div>
    {{end}}
{{end}} 