{{define "post-overview"}}
    <div class="post-section">
        <section class="header-container">
            <a href="/user?user={{.User.Id}}" class="post-username">{{.User.Name}}</a>
            <div class="post-category-container">
                {{range .Categories}}
                    <a href="/filter?category={{.Id}}" class="post-category">{{.Name}}</a>
                {{end}}
            </div>
        </section>
        <a href="/post/{{.Post.Id}}" class="post-container">
            <section class="post-content">
                <h1 class="post-title">{{.Post.Title}}</h1>
                <p class="post-description">{{.Post.Content}}</p>
            </section>
            <section class="post-data">
                <div class="data">
                    <p class="data-info">
                        <time datetime="{{.Post.Created}}">{{.Post.Date}}</time>
                    </p>
                    <p class="data-info">
                        |
                    </p>
                    <p class="data-info">
                        {{.LikeCount}} Likes
                    </p>
                    <p class="data-info">
                        |
                    </p>
                    <p class="data-info">
                        {{.DislikeCount}} Dislikes
                    </p>
                    <p class="data-info">
                        |
                    </p>
                    <p class="data-info">
                        {{len .Comments}} Comments
                    </p>
                </div>
                <form action="/reaction" method="post" class="like-container">
                    <input type="hidden" name="post_Id" value="{{.Post.Id}}">
                    <button name="state" value="like" class="like-comment-button like-button">
                        <span class="material-symbols-rounded thumbs-icon {{if eq .Liked 1}} active-like-icon {{else if eq .Liked 0}} like-icon {{end}}">thumb_up</span>
                    </button>
                    <button name="state" value="dislike" class="like-comment-button like-button">
                        <span class="material-symbols-rounded thumbs-icon {{if eq .Liked -1}} active-dislike-icon {{else if eq .Liked 0}} dislike-icon {{end}}">thumb_down</span>
                    </button>
                </form>
            </section>
        </a>
   </div>  
{{end}}

{{define "post-miniature"}}
    <a href="/post/{{.Post.Id}}" class="trending-post-container">
        <h1 class="trending-post-title">{{.Post.Title}}</h1>
        <div class="trending-post-data">
            <p class="trending-post-username">{{.User.Name}}</p>
            <p class="trending-likes">
                {{.LikeCount}} Likes
            </p>              
        </div>
    </a>
{{end}}



{{define "post-extended"}}
    
    <div class="post-id-container">
        <section class="post-id-header">
            <a href="/user?user={{.Post.User.Id}}" class="post-id-user-info">
                <div class="user-info-image">
                    <img src="{{.Post.User.Avatar}}" alt="Profile Img" class="image-avatar">
                </div>
                <div class="user-info-text">
                    <p class="info-username">{{.Post.User.Name}}</p>
                    <p class="data-info">
                        <time datetime="{{.Post.Post.Created}}">{{.Post.Post.Date}}</time>
                    </p>
                </div>
            </a>
            <div class="post-category-container">
                {{range .Post.Categories}}
                    <a href="/filter?category={{.Id}}" class="post-category">{{.Name}}</a>
                {{end}}
            </div>
        </section>
        <section class="post-id-content">
            <h1 class="post-id-title">{{.Post.Post.Title}}</h1>
            <p class="post-id-description">{{.Post.Post.Content}}</p>
        </section>
        <section class="post-id-data">
            <div class="data">
                <p class="data-info">
                    {{.Post.LikeCount}} Likes
                </p>
                <p class="data-info">
                    |
                </p>
                <p class="data-info">
                    {{.Post.DislikeCount}} Dislikes
                </p>
                <p class="data-info">
                    |
                </p>
                <p class="data-info">
                    {{len .Comments}} Comments
                </p>
            </div>
            <form action="/reaction" method="post" class="like-container-post">
                <input type="hidden" name="post_Id" value="{{.Post.Post.Id}}">
                <button name="state" value="like" class="like-comment-button like-button">
                    <span class="material-symbols-rounded thumbs-icon {{if eq .Post.Liked 1}} active-like-icon {{else if eq .Post.Liked 0}} like-icon {{end}}">thumb_up</span>
                </button>
                <button name="state" value="dislike" class="like-comment-button like-button">
                    <span class="material-symbols-rounded thumbs-icon {{if eq .Post.Liked -1}} active-dislike-icon {{else if eq .Post.Liked 0}} dislike-icon {{end}}">thumb_down</span>
                </button>
            </form>
        </section>
        
        <hr class="separator">
        {{range .Comments}}
            {{template "comment" .}}
        {{end}}
        {{ if .Metadata.LoggedIn}}
        <form method="post" action="/post/comment" class="comment-form">
            <input type="hidden" name="post_Id" value="{{.Post.Post.Id}}">
            <textarea class="comment-area" name="new-comment" id="" placeholder="What do you think?" cols="100" rows="2" required></textarea>
            <button class="submit">Comment</button>
        </form> 
        {{end}}
    </div>
{{end}}



{{ define "comment"}}
    <div class="comment-id">
        <section class="comment-id-header">
            <a href="/user?user={{.User.Id}}" class="comment-id-user-info">
                <div class="user-info-image">
                    <img src="{{.User.Avatar}}" alt="Profile Img" class="image-avatar">
                </div>
                <div class= "user-info-text" >
                    <p class="info-username">{{.User.Name}}</p>
                    <p class="data-info">Created on <time datetime="{{.Comment.Created}}">{{.Comment.Date}}</time></p>
                </div>
            </a>
        </section>
        <section class="comment-id-content">
            <p class="comment-id-description">{{.Comment.Content}}</p>
        </section>
        <section class="comment-id-data">
            <p class="data-likes">
                {{.LikeCount}} Likes
            </p>
            
            <form action="/reaction" method="post" class="like-container-comment">
                <input type="hidden" name="comment_Id" value="{{.Comment.Id}}">
                <button name="state" value="like" class="like-comment-button like-button">
                    <span class="material-symbols-rounded thumbs-icon {{if eq .Liked 1}} active-like-icon {{else if eq .Liked 0}} like-icon {{end}}">thumb_up</span>
                </button>
                <button name="state" value="dislike" class="like-comment-button like-button">
                    <span class="material-symbols-rounded thumbs-icon {{if eq .Liked -1}} active-dislike-icon {{else if eq .Liked 0}} dislike-icon {{end}}">thumb_down</span>
                </button>
            </form>
            
        </section>
       
    </div>
{{end}}