{{define "side-section"}}
<section class="miniature-section">
    <hr class="divisor">
    <div class="miniature-content">
        <p class="miniature-section-title">Trending Posts</p>
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    {{template "post-miniature".}}
    </div>
</section>
{{end}}