<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Bernardo and Fran">
        <meta name="Description" content="This is a web forum about literature">
        <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no">
        <title>Literary Lions Web Forum</title>
        
        <link rel="stylesheet" href="/static/css/test.css" type="text/css">

    </head>
    <body>
        <header class="header-xx"> HEADER</header>
        <section class="white-xx"></section>
        <section class="posts-section-xx">GALLERY</section>
        <section class="trending-section-xx">TRENDING</section>
       
    </body>
</html>

