/* Definition of the color palette for the whole project */
:root {
    --primary-color: #3c2532;
    --primary-color-op: #3c253221;
    /* --primary-color: #dd1b89; */
    /* --secondary-color: #FFEEDB; */
    --secondary-color: #ffffff;
    --third-color: #f7f0de;
    --typography-family: "Ubuntu", sans-serif;
    --typography-large: 26px;
    --typography-medium: 16px;
}

body {
    margin: 0px ;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 2fr 6fr 3fr;
    grid-template-areas: 
        "header header header"
        "empty gallery miniatures";
    background-color: var(--secondary-color);
    height: 100vh;
    
    font-family: var(--typography-family);
}

.white{
    grid-area: empty;
}





/* Style for Google Font: Ubuntu */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  


  /* General Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal Content Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Center the modal */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Set a specific width */
  text-align: center;
  position: relative;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

/* Show the modal when the button is clicked */
#registerModal:target {
  display: block;
}

/* Show the modal when the button is clicked */
#loginModal:target {
  display: block;
}
