.posts-section {
  grid-area: gallery;
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  margin-bottom: 60px;
}

.sidebar-section {
  grid-area: miniatures;
  margin-right: 20px;   
  display: flex;
  flex-flow: row nowrap;
  gap:40px;
  box-sizing: border-box;
  justify-self: center;
  overflow: hidden;
}